.carousel {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .carousel-item img {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 30%;
    opacity: 1;
    height: 40%;
    top: 0;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: brown;
    border-radius: 9%;
    padding: 15px;
  }
  
  .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    margin: 0 5px;
  }
  