@import url('https://fonts.googleapis.com/css2?family=Combo&family=Fredoka:wght@300..700&family=Genos:ital,wght@0,100..900;1,100..900&family=Joti+One&family=Knewave&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&family=Slackey&display=swap');

/* Estilo general para el footer */
.container-Footer{
    font-family: 'Genos', sans-serif;


}

#encabezado-footer{
    width: 100%;

}
/* Ajuste del tamaño del logo */
footer img.footer-logo {
    max-height: 150px; 
    width: auto;
    margin-top: 25px;
}

@media (max-width: 767px) {
    footer img.footer-logo {
        max-height: 40px; 
    }
}

/* Estilo del texto de los párrafos */
footer p {
    font-family: 'Nunito', sans-serif;
    color: white; 
}


footer .btn-primary {
    width: 100px;
    background-color: #FF4F00;
    border-color: #2E2E2E; 
}

footer .btn-primary:hover {
    background-color: #0056b3; /* Cambia el color al pasar el mouse */
    border-color: #0056b3;
}

/* Ajustes de espaciado en pantallas pequeñas */
@media (max-width: 767px) {
    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    footer .row {
        text-align: center;
    }

    footer .col-md-6 {
        margin-bottom: 1rem;
    }
}

/* Personalización del formulario */
footer .form-control {
    border-radius: 20px; 
    padding-left: 1rem; 
}

/* Estilo del texto inferior */
footer .mb-1 {
    font-family: "Genos", sans-serif;

    color: white; 
}

/* Iconos de redes sociales */
footer .fab {
    color: white; /* Color de los iconos de redes sociales */
    font-size: 1.5rem; /* Tamaño de los iconos */
}

footer .fab:hover {
    color: #FF4F00; 
}
