<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contactos.css">
     <!-- Fuente Anton de Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Formulario de contacto</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="image-box">
                <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/m2WQ6DJxWGi0X0Xr/logo-sin-letras-A1aJj28Q3ninbOr6.png" alt="Imagen decorativa">
            </div>
            <div class="form-card">
                <h1 class="form-title">Formulario de contacto</h1>
                <form action="#">
                    <div class="form-box">
                        <label class="texto-label" for="nombre">Nombre</label>
                        <input id="nombre" type="text" placeholder="Ingrese su nombre" required>
                    </div>

                    <div class="form-box">
                        <label class="texto-label" for="correo">Correo</label>
                        <input id="correo" type="email" placeholder="Ingrese su correo" required>
                    </div>

                    <div class="form-box">
                        <label class="texto-label" for="mensaje">Mensaje</label>
                        <textarea id="mensaje" name="mensaje" placeholder="Ingrese su mensaje" rows="4" required></textarea>
                    </div>

                    <div class="form-box">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>

        </div>

    </section>
</body>
</html>
